<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Contact Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contact-form/decorate.css' %}">
    <script src="https://kit.fontawesome.com/d00224af9c.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="total">
        <h3 align="center">Contact Form</h3><hr>
    <form action="https://formspree.io/f/xnqrerqg" method="POST">

        <div class="input-group">
        <label for="fname"><i class="fa-solid fa-user"></i> First Name</label>
        <input type="text" name="fname" placeholder="First Name" required><br>
        </div>
        <div class="input-group">
        <label for="lname"><i class="fa-solid fa-user"></i> Last Name</label>
        <input type="text" name="lname" placeholder="Last Name" required><br>
        </div>
        <div class="input-group">
        <label for="email"><i class="fa-sharp fa-solid fa-envelope"></i> Email</label>
        <input type="email" name="email" placeholder="Email" required><br>
        </div>
        <div class="input-group">
        <label for="message"><i class="fa-solid fa-message"></i> Message</label>
        <textarea name="Message" rows="8" placeholder="Type Message..." required></textarea>
        </div>
        <button type="submit" class="btn"><strong>Send Message <i class="fa-solid fa-paper-plane"></i></strong></button>
    </form>
    </div>
</body>
</html>